<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="index,follow" name="robots" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>we share now</title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/meanmenu.css" media="all" />
<link rel="stylesheet" href="css/lightbox.css">
<link rel="stylesheet" href="css/modality.css">
</head>

<body>
<div class="main-container">
  <div class="main-header main-header2">
    <div class="dr-wrapper">
      <div class="dr-header">
        <div class="dr-logo"><a href="index.html"><img src="images/logo.png" alt=" " /></a></div>
        <div class="btn-game">
          <input name="" value="Sell Your Game" type="submit" />
        </div>
        <div class="dr-nav">
          <ul>
            <li><a href="#signup">Signup</a></li>
            <li><a href="#login">Login</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="dr-bg3">
    <div class="dr-wrapper">
      <div class="inner-banner">
        <h1>Edit Your Profile<br />
          Here</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and</p>
      </div>
    </div>
  </div>
  <div class="dr-wrapper">
    <div class="dr-editstuf">
      <div class="dr-editleft">
        <div class="row">
          <div class="col"> <span><img src="images/user.png" alt=" " /></span>
            <input type="text" class="form-control" value="First Name" onfocus="if(this.value  == 'First Name') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'First Name'; } ">
          </div>
        </div>
        <div class="row">
          <div class="col"> <span><img src="images/user.png" alt=" " /></span>
            <input type="text" class="form-control" value="Last Name" onfocus="if(this.value  == 'Last Name') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Last Name'; } ">
          </div>
        </div>
        <div class="row">
          <div class="col"> <span><img src="images/email.png" alt=" " /></span>
            <input type="text" class="form-control" value="Email Id" onfocus="if(this.value  == 'Email Id') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Email Id'; } ">
          </div>
        </div>
        <div class="row">
          <h2>Select your platform</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and</p>
        </div>
        <div class="listing">
          <ul>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree1" name="check" checked="checked" />
                <label for="squaredThree1"></label>
              </div>
              <span>PS</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree2" name="check" />
                <label for="squaredThree2"></label>
              </div>
              <span>Xbox</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree3" name="check" />
                <label for="squaredThree3"></label>
              </div>
              <span>Wii</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree4" name="check" />
                <label for="squaredThree4"></label>
              </div>
              <span>3DS</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree5" name="check" />
                <label for="squaredThree5"></label>
              </div>
              <span>PS2</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree6" name="check" checked="checked" />
                <label for="squaredThree6"></label>
              </div>
              <span>Xbox one</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree7" name="check" />
                <label for="squaredThree7"></label>
              </div>
              <span>Wii U</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree8" name="check" />
                <label for="squaredThree8"></label>
              </div>
              <span>Gamecube</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree9" name="check" />
                <label for="squaredThree9"></label>
              </div>
              <span>PS3</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree10" name="check" />
                <label for="squaredThree10"></label>
              </div>
              <span>Xbox 360</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree11" name="check" />
                <label for="squaredThree11"></label>
              </div>
              <span>Xbox</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree12" name="check" checked="checked" />
                <label for="squaredThree12"></label>
              </div>
              <span>Nintendo DS</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree13" name="check" />
                <label for="squaredThree13"></label>
              </div>
              <span>PS4</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree14" name="check" />
                <label for="squaredThree14"></label>
              </div>
              <span>PS Vita</span></li>
          </ul>
        </div>
      </div>
      <div class="dr-editright">
        <div class="row">
          <div class="col"> <span><img src="images/edit.png" alt=" " /></span>
            <textarea name="message" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">Bio 160 characters</textarea>
          </div>
        </div>
        <div class="row">
          <input type="text" class="form-control" value="Add a picture" onfocus="if(this.value  == 'Add a picture') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Add a picture'; } ">
          <input name="" class="browse"  type="submit" value="Browse" />
        </div>
        <div class="listing">
          <ul>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree15" name="check" />
                <label for="squaredThree15"></label>
              </div>
              <span>Speed of shipping</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree16" name="check" />
                <label for="squaredThree16"></label>
              </div>
              <span>Find online friends</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree17" name="check" checked="checked" />
                <label for="squaredThree17"></label>
              </div>
              <span>Priorities for game</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree18" name="check" checked="checked" />
                <label for="squaredThree18"></label>
              </div>
              <span>Priorities after purchase</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree19" name="check" />
                <label for="squaredThree19"></label>
              </div>
              <span>Game condition</span></li>
            <li>
              <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree20" name="check" />
                <label for="squaredThree20"></label>
              </div>
              <span>Get gaming tips</span></li>
          </ul>
        </div>
        <div class="row">
          <input name=""  type="submit" value="Submit" />
          <input name="" type="submit" value="Cancel" class="cancel" />
        </div>
      </div>
    </div>
  </div>
  <div class="dr-main-footer">
    <div class="dr-wrapper">
      <div class="dr-footer">
        <div class="firstcol"> <img src="images/footer-logo.png" alt=" " /></div>
        <div class="seccol">
          <p>Placeholder for 2-3 lines<br />
            something about website or<br />
            company</p>
          <img src="images/bbb.png" alt=" " /></div>
        <div class="thirdcol">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Trust &amp; Safety</a></li>
            <li><a href="#">Terms &amp; Condition</a></li>
          </ul>
        </div>
        <div class="lastcol">
          <p>Follow us On</p>
          <a href="#"><img src="images/fb.png" alt=" " /></a> <a href="#"><img src="images/twit.png" alt=" " /></a> <a href="#"><img src="images/gplus.png" alt=" " /></a> <a href="#"><img src="images/pint.png" alt=" " /></a> <a href="#"><img src="images/in.png" alt=" " /></a> </div>
      </div>
    </div>
    <div class="dr-copy">
      <p>All Rights Reserved © wesharenow.com </p>
    </div>
  </div>
</div>
<div id="signup" class="popsec" style="display:none;">
  <div class="loginsec">
    <div class="row">
      <h3>Signup Using Your Prefered<br />
        Social Network</h3>
    </div>
    <div class="row">
      <div class="btnfb"> <a href="#">Login with Facebook</a> </div>
      <div class="btntwit"> <a href="#">Login with Twitter</a> </div>
    </div>
    <div class="row">
      <h3>or</h3>
    </div>
    <div class="row">
      <p class="email" id="hidepanel"><a href="#">Signup With Email <img src="images/arrow.jpg" alt=" " /></a></p>
    </div>
    <div class="formpanel" style="display:none;">
      <div class="row">
        <div class="col"> <span><img src="images/user.png" alt=" " /></span>
          <input type="text" class="form-control" value="First Name" onfocus="if(this.value  == 'First Name') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'First Name'; } ">
        </div>
        <div class="col colright"> <span><img src="images/user.png" alt=" " /></span>
          <input type="text" class="form-control" value="Last Name" onfocus="if(this.value  == 'Last Name') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Last Name'; } ">
        </div>
      </div>
      <div class="row">
        <div class="col"> <span><img src="images/email.png" alt=" " /></span>
          <input type="text" class="form-control" value="Email Address" onfocus="if(this.value  == 'Email Address') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Email Address'; } ">
        </div>
        <div class="col colright"> <span><img src="images/lock.png" alt=" " /></span>
          <input type="text" class="form-control" value="Password" onfocus="if(this.value  == 'Password') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Password'; } ">
        </div>
      </div>
    </div>
    <div class="row">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an</p>
    </div>
    <div class="row bg-line">
      <p>Already a member? <a href="#">Log in</a></p>
    </div>
    <a href="#signup" class="btnclose"><img src="images/popclose.png" alt=" " /></a> </div>
</div>
<div id="login" class="popsec" style="display:none;">
  <div class="loginsec">
    <div class="row">
      <h2>Login Here</h2>
    </div>
    <div class="row"> <img src="images/icon-logo.png" alt=" " /></div>
    <div class="row">
      <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
    <div class="row">
      <div class="col"> <span><img src="images/email.png" alt=" " /></span>
        <input type="text" class="form-control" value="Email Address" onfocus="if(this.value  == 'Email Address') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Email Address'; } ">
      </div>
      <div class="col colright"> <span><img src="images/lock.png" alt=" " /></span>
        <input type="text" class="form-control" value="Password" onfocus="if(this.value  == 'Password') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Password'; } ">
      </div>
    </div>
    <div class="row row3">
      <input name="" class="login" type="submit" value="Login" />
    </div>
    <div class="row">
      <p class="forpas"><a href="#forgot">Forgot Password? <img src="images/arrow.jpg" alt=" " /></a></p>
    </div>
    <a href="#login" class="btnclose"><img src="images/popclose.png" alt=" " /></a> </div>
</div>
<div id="forgot" class="popsec" style="display:none;">
  <div class="loginsec">
    <div class="row">
      <h2>Forgot Your Password?</h2>
    </div>
    <div class="row"> <img src="images/icon-logo.png" alt=" " /></div>
    <div class="row">
      <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
    <div class="emailaddress">
      <label>Enter Your Email Adress</label>
      <input type="text" class="form-control" value="Email Address" onfocus="if(this.value  == 'Email Address') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Email Address'; } ">
    </div>
    <div class="row row2">
      <input name="" type="submit" value="Cancel" />
      <input name="" class="password" type="submit" value="Reset Password" />
    </div>
    <a href="#forgot" class="btnclose"><img src="images/popclose.png" alt=" " /></a> </div>
</div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/lightbox.js"></script>
<script src="js/modality.jquery.min.js"></script>
<script>
    $('#forgot').modality({
        effect: 'slide-up'
    });
	$('#signup').modality({
        effect: 'slide-up'
    });
	$('#login').modality({
        effect: 'slide-up'
    });
	 
    </script>

<!-- JS-Only:  -->
<!-- <script src="js/modality.min.js"></script>
    <script>
    var modal1 = Modality.init('#yourModalId', {
        effect: 'slide-up'
    });
    </script> -->
<!-- JS-Only:  -->
<script src="js/jquery.meanmenu.js"></script>
<script>
$(document).ready(function () {
    $('.dr-nav').meanmenu();

  	$("#hidepanel").click(function(){
    	$(".formpanel").toggle();
  	});
	
	
	$('.meanmenu-reveal').on('click', function(){
		$('#forgot').modality({
        	effect: 'slide-up'
    	});
		$('#signup').modality({
			effect: 'slide-up'
		});
		$('#login').modality({
			effect: 'slide-up'
		});
	});
});
</script>
</html>
